.home-container {
  padding: 15px 33px;
  height: 85vh;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-add-task small {
  color: #157bff;
}

.board-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: 100%;
  margin-top: 15px;
}

.board-add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-primary-home {
  width: 150px;
  margin-top: 0;
}

.button-primary span {
  margin-right: 5px;
}

.responsive-button {
  display: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 750px) {
  .home-container {
    padding: 15px 35px;
  }

  .board-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .button-primary-home {
    display: none;
  }

  .responsive-button {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}
