* {
  font-family: "Poppins", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

a {
  font-size: 1rem;
  color: #007bff;
}

p {
  font-size: 0.9rem;
}

small {
  font-size: 0.7rem;
}

label {
  font-size: 0.7rem;
  color: #808080;
}

.Toastify__toast-body {
  font-size: 0.8rem;
}
