.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  width: 100%;
  background-color: #ffb829;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.login-container {
  background-color: #ffffff;
  padding: 50px;
}

.login-container img {
  font-size: 5px;
  height: 90px;
}

.login-form {
  width: 100%;
}

.container-divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-divider hr {
  margin: 20px auto;
  border: 0;
  height: 1px;
  width: 80%;
  background-color: #e5e5e5;
  margin: 20px 0;
}

.signup-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
