.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  width: 75%;
  background-color: #ffb829;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.login-signup-container {
  background-color: #ffffff;
  padding: 50px;
  width: 25%;
}

.login-signup-container img {
  font-size: 5px;
  height: 80px;
}

.main-form {
  width: 100%;
}

.main-form small {
  font-size: 0.6rem;
  color: #ffb829;
}

.container-divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-divider hr {
  margin: 20px auto;
  border: 0;
  height: 1px;
  width: 80%;
  background-color: #e5e5e5;
  margin: 20px 0;
}

.isLogging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

.signup-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 1150px) {
  .login-signup-container {
    width: 40%;
    padding: 10px 50px;
  }
}

@media only screen and (max-width: 750px) {
  .main-container {
    justify-content: center;
    align-items: center;
  }

  .image-container {
    display: none;
  }

  .login-signup-container {
    width: 100%;
    padding: 30px 50px;
  }

  .login-signup-container img {
    height: 60px;
  }

  .login-signup-container h3 {
    margin: 2px;
  }

  .main-form small {
    font-size: 0.55rem;
  }
}
