.tasks-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-top: 15px;
  padding-bottom: 15px;
}

.card-info-s-p {
  display: flex;
  margin-bottom: 8px;
}

.status,
.priority {
  border-radius: 6px;
  width: fit-content;
  padding: 8px;
  margin: 5px 5px;
  margin-left: 0;
}

@media (min-width: 750px) {
  .tasks-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1250px) {
  .tasks-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
